@model IEnumerable<OnlineGallery.ViewModels.ImageViewModels.ImageViewModel>

    @{
        ViewData["Title"] = "Index";
    }

    <h1>Index</h1>

    <p>
        <a asp-action="Create"> New</a>
    </p>
    <form method="get" asp-action="Index">
        <p>
            <input type = "search" placeholder="Enter Geolocation, Captured By or Tags to search images" value="@ViewData["Getdetails"]" name="Search" style="width:500px;"/>
            <input type = "submit" value="Search" class = "btn btn-primary"/>
            <a asp-action="Index">Get All Images</a>
        </p>
    </form>
    <table class="table">
        <thread>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Url)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AlbumTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tags)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Geolocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
            </tr>
        </thread>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Url)
                    </td>
                    <td>
                        @Html.DisplayNameFor(modelItem => item.AlbumTitle)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

